body{
    background-image: url("../image/dark-background-images-11.jpg");
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
.textwhitecolor{
  color:white;
  text-align: center;
}  